<ul class="nav">
	<li><%= link_to "Portfolio", root_path, :class => 'brand' %></li>
	<li class="divider-vertical"></li>
    <li><%= link_to "Projects", summary_project_path, :class => 'brand' %></li>
	<li class="divider-vertical"></li>
    <li class='brand'><a href="~/tech_skills/summary">Technical Skills</a></li>
	<li class="divider-vertical"></li>
	<li class='brand'><a href="~/pdev/summary">Personal Development</a></li>
	<li class="divider-vertical"></li>
	<li class='brand'><a href="~/contact/summary">contact</a></li>
</ul>